.stepContainer {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    text-align: center;
}

.stepTitle {
    font-size: 2rem;
    text-transform: uppercase;
    line-height: 1;
}

.stepDesc {
    color: var(--text-secondary);
    margin-bottom: 1rem;
}

.fileUpload {
    border: 2px dashed #ccc;
    padding: 3rem;
    cursor: pointer;
    transition: background 0.3s;
}

.fileUpload:hover {
    background: #f9f9f9;
    border-color: var(--accent-primary);
}

.inputHidden {
    display: none;
}

.uploadLabel {
    font-family: var(--font-family-mono);
    cursor: pointer;
}

.inputField {
    width: 100%;
    padding: 1rem;
    border: 1px solid #000;
    font-family: inherit;
    font-size: 1rem;
    background: #f4f4f4;
}

.inputField:focus {
    outline: none;
    border-color: var(--accent-primary);
    background: #fff;
}

.actionBtn {
    width: 100%;
    padding: 1.5rem;
    background: #000;
    color: #fff;
    font-weight: 700;
    border: none;
    cursor: pointer;
    text-transform: uppercase;
    margin-top: 1rem;
    transition: background 0.3s;
}

.actionBtn:hover {
    background: var(--accent-primary);
    color: #000;
}

.loadingBar {
    width: 100%;
    height: 4px;
    background: #eee;
    position: relative;
    overflow: hidden;
    margin: 2rem 0;
}

.loadingProgress {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 50%;
    background: var(--accent-primary);
    animation: progress 2s infinite linear;
}

.successIcon {
    font-size: 4rem;
    color: var(--accent-primary);
}

.checkboxRow {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    font-size: 0.8rem;
    text-align: left;
}

@keyframes progress {
    0% {
        transform: translateX(-100%);
        width: 0%;
    }

    50% {
        width: 50%;
    }

    100% {
        transform: translateX(200%);
        width: 0%;
    }
}